# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
# For Anaconda users
.conda/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Secrets and Environment Variables
.env
.flaskenv
secrets.json

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Databases
*.sqlite3

# Testing
.pytest_cache/
.coverage
htmlcov/

*.spec